<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.kota.spaza" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="31" />
	<application android:allowBackup="true" android:icon="@drawable/kota_palace_black" android:label="@string/app_name" android:usesCleartextTraffic="true" android:supportsRtl="true" android:theme="@style/AppTheme">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/mapKey" />
		<meta-data android:name="com.google.android.geo.gms.version" android:value="@integer/google_play_services_version" />
		<meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="ca-app-pub-3572075456921496~7724152822"/>
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver" android:exported="true" />
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:exported="true" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="${applicationId}" />
				
			</intent-filter>
		</receiver>
	</application>
	<queries>
		<intent>
			<action android:name="android.intent.action.DIAL" />
			<data android:scheme="tel" />
		</intent>
	</queries>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.LOCATION_HARDWARE" />
	<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
</manifest>